# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules

# Astro build output
dist
.astro

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
